.columnsContainer{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 15px;
    box-sizing: border-box;
    min-height: 800px;
    justify-content: flex-start;
   }

.boardTitle{
    text-align: center;
    padding: 12px;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.root{
    margin: 12px;
    border-radius: 8px;
    background-color: rgb(93, 151, 238);

}

.errorContainer{
    flex-basis: 100%;
    background-color: rgb(214, 31, 31);
    margin: 0 20%;
    border-radius: 6px;
}

.error{
    margin: 0;
    padding: 6px;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
